#navi{
    background-color: #f9f9f9;
}
.s-sub li:before{
    content: "";
    background: none;
}
.s-main li:before {
    content: "";
    background: none;
}
.logo a{
    float: left;
}
.logo span{
    margin-left: 26px;
    font-size: 22px;
    line-height: 36px;
}
.layout{
    width: 1200px;
    margin: 0 auto
}
.login-prompt{
    border: 1px solid #eace85;
    background: #fffdee;
    color: #ca141d;
    line-height: 48px;
    padding: 0 20px;
    margin-top: 10px;
}
.login-prompt:before {
    content: "";
    width: 12px;
    height: 12px;
    background: url(../img/icon-tips01.2080462.png) no-repeat;
    display: inline-block;
    position: relative;
    top: 2px;
    margin-right: 3px;
}
.login-prompt a {
    width: 70px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    background: #ca141d;
    color: #fff;
    text-align: center;
    margin-left: 10px;
    border-radius: 2px;
}
.hr{
    height: 20px;
}
/* 购物车 */
.sc-list{
    width: 1200px;
    margin:0 auto;
}
.sc-pro-title {
    background: #fff;
    line-height: 40px;
    padding-left: 40px;
    color: #a4a4a4;
}
.sc-pro-title label {
    float: left;
    width: 150px;
}
.checkbox input, .radio input {
    margin-right: 10px;
    cursor: pointer;
}
.checkbox input {
    background: url(https://res.vmallres.com/20201208/staticpc/img/icon-header.c4189e7.png) no-repeat;
    border: 0;
    display: inline-block;
    width: 14px;
    height: 14px;
    background-position: -18px -129px;
    vertical-align: text-top;
    color: hsla(0,0%,100%,0);
    font-size: 0;
}
.checkbox input.checked {
    background-position: 0 -129px;
}
.sc-pro-list ul, .sc-pro-title ul {
    float: left;
}
.sc-pro-list li:first-child, .sc-pro-title li:first-child {
    width: 450px;
    text-align: left;
    margin-left: 0;
}
.sc-pro-list li, .sc-pro-title li {
    float: left;
    width: 100px;
    margin-left: 30px;
    min-height: 14px;
    text-align: center;
}
.sc-pro-list {
    background: #fff;
    padding-left: 40px;
    margin-top: 10px;
    padding-top: 20px;
}
.sc-pro-list>label {
    float: left;
    margin: 43px 3px 0 0;
}
.sc-pro-area {
    float: left;
    width: 1130px;
    font-size: 14px;
}
.sc-pro-main {
    margin-bottom: 18px;
    position: relative;
}
.sc-pro-area .p-img {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 20px;
    position: relative;
}
.sc-pro-area .p-img img {
    width: 100%;
    height: 100%;
}
.sc-pro-list ul, .sc-pro-title ul {
    float: left;
}
.sc-pro-list li:first-child, .sc-pro-title li:first-child {
    width: 450px;
    text-align: left;
    margin-left: 0;
    float: left;
}
.sc-pro-main a.p-name {
    margin-bottom: 2px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 20px;
    overflow: hidden;
}
.sc-pro-area .p-info {
    color: #666;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 17px;
}
.sc-pro-area .p-label span {
    font-size: 14px;
    color: #ca141d;
    line-height: 18px;
    padding: 0 8px;
    margin-right: 8px;
    border: 1px solid #ca141d;
    float: left;
    margin-top: 6px;
}
.sc-pro-list li:nth-child(2) {
    width: 140px;
    margin-left: 10px;
    margin-right: -20px;
}
.sc-pro-list li, .sc-pro-title li {
    float: left;
    width: 100px;
    margin-left: 30px;
    min-height: 14px;
    text-align: center;
}
.sc-pro-area .p-price span {
    display: block;
    margin-bottom: 3px;
}
.p-stock {
    text-align: center;
}
.p-stock-area {
    display: block;
    border: 1px solid #d6d6d6;
    width: 86px;
    margin: 0 auto;
    height: 20px;
    border-radius: 2px;
    position: relative;
}
.p-stock-area .p-stock-text {
    width: 42px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 22px;
    text-align: center;
    border: 1px solid #d6d6d6;
    border-top: none;
    border-bottom: none;
    z-index: 1;
}
.p-stock-area .p-stock-btn {
    width: 86px;
    position: absolute;
    top: 1px;
    left: 1px;
}
.p-stock-area .p-stock-btn span {
    width: 21px;
    height: 20px;
    line-height: 19px;
    float: left;
    font-size: 16px;
    text-align: center;
    color: #717171;
    cursor: default;
}
.p-stock-area .p-stock-btn .disableb{
    float: right;
}
.sc-pro-area .p-price-total {
    color: #ca141d;
    font-weight: 700;
}
.p1{
    width: 1200px;
    height: 90px;
     text-align: center;
     line-height: 90px;
     font-size: 16px;
}