.hr{
    height: 10px;
}
.breadcrumb-area{
    /* margin-left: 1px; */
    line-height: 1.5;
    padding-top: 10px;
    color: #333333;
}
.breadcrumb-area a{
    color: #666666;
}
/* 放大镜 */
.glass-left{
    float: left;
}
.glass-img{
    position: relative;
}
.glass-img a{
    display: block;
}
.glass-img a img{
    vertical-align: top;
    width: 450px;
    height: 450px
}
.product-gallery{
    width: 450px;
    height: 68px;
    margin-top: 18px;
    position: relative;
}
.product-gallery-back{
    position: absolute;
    top: 0;
    width: 30px;
    height: 68px;
}
.product-gallery-dis{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 68px;
}
.product-gallery-dis::before{
    content: "";
    width: 30px;
    height: 30px;
    display: block;
    margin-top: 19px;
    background: url(https://res8.vmallres.com/20201208/images/echannel/icon/icon50.png) no-repeat -48px -29px;
    background-position: -78px -29px;
}
.product-gallery-back::before{
    content: "";
    width: 30px;
    height: 30px;
    display: block;
    margin-top: 19px;
    background: url(https://res8.vmallres.com/20201208/images/echannel/icon/icon50.png) no-repeat -48px -29px;
}
.product-gallery-thumbs{
    width: 370px;
    height: 68px;
    margin-left: 40px;
    overflow: hidden;
    position: relative;
}
.product-gallery-thumbs .nt{
    width: 500%;
    height: 68px;
    position: absolute;
    left: 0;
    top: 0;
}
.product-gallery-thumbs .nt li{
    float: left;
    padding: 0 3px;
}
.product-gallery-thumbs .nt li a{
    display: block;
    width: 66px;
    height: 66px;
    border: 1px solid #fff;
}
.product-gallery-thumbs .nt li a img{
    vertical-align: top;
    width: 60px;
    height: 60px;
    margin: 3px 0 0 3px;
}
#glass{
    height: 665px;
    width: 1200px;
    margin: 0 auto
}
.glass-zomm-lens{
    z-index: 98;
    position: absolute;
    width: 225px;
    height: 225px;
    opacity: 0.5;
    left: 225px;
    top: 0px;
    background-position: -225px 0px;
    border: 1px solid #888;
    margin: -4px;
    background-color: #fff;
    cursor: move;
    display: none;
   
}
/* 放大镜 */
.glass-zoom-big{
    position: absolute;
    left: 460px;
    top: 0px;
    width: 400px;
    height: 400px;
    z-index: 99;
    border: 2px solid #ccc;
    overflow: hidden;
    background-color: #FFF;
    display: none;
}
.glass-right{
    float: right;
}
.product-meta h1{
    font-size: 21px;
    overflow: hidden;
    margin-bottom: 10px;
}
.product-slogan{
    font-size: 14px;
    padding-right: 40px;
    margin-bottom: 12px;
    position: relative;
    top: -3px;
    line-height: 20px;
}
.product-info{
    background: #f5f5f5;
    padding-top: 14px;
    padding-bottom: 3px;
}
.product-info label{
    float: left;
    width: 85px;
    text-indent: 10px;
    line-height: 30px;
}
.product-info .product-prom-word{
    color: #ca141d;
    padding-right: 3px;
    font-size: 24px;
}
.product-info span em{
    font-size: 18px;
    margin-right: 4px;
}
.product-prom-item{
    min-height: 30px;
    margin-top: 5px;
}
.product-prom{
    max-height: 1000px;
    width: 615px;
    overflow: hidden;
    float: left;
}
.product-parts-specially{
    min-height: 30px;
}
.product-parts-specially .tag{
    float: left;
    line-height: 18px;
    height: 18px;
    border: 1px solid #ca141d;
    padding: 0 6px;
    min-width: 24px;
    color: #ca141d;
    text-align: center;
    margin-right: 10px;
    margin-top: 5px;
}
.product-prom-con{
    float: left;
    line-height: 1.5;
    margin-top: 6px;
    max-width: 485px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    justify-content: center;
}
.product-prom-con .product-prom-word{
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
    color: #3a3a3a;
}
.hr{
    height: 20px;
}
.f1{
    float: left;
}
.product-description{
    height: 24px;
}
.product-description label{
    float: left;
    width: 85px;
    text-indent: 10px;
    line-height:1.5;
}
.product-description-list{
    position: relative;
    top: -3px;
    width: 614px;
    line-height: 24px;
}
.product-description-list li {
    display: inline-block;
    margin-right: 12px;
    padding-left: 18px;
    line-height: 18px;
}
.hr1{
    height: 5px;
}
.line{
    width: 100%;
    height: 1px;
    background: #ddd;
    border-bottom: 1px solid #ddd;
}